.home-content {
    width: 100%;
    height: 80vh;
    padding-top: 10rem;
    
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    
}

.meu-card {
    width: 220px;
    padding: 10px;
    background-color: rgb(230, 223, 223);
    border-radius: 5px;
    border: 1px solid rgb(172, 172, 172);
    margin: 4rem 2rem 1rem 2rem;
}

.meu-card a {
    text-decoration: none;
    color: black;
}

.meu-card:hover {
    box-shadow: 0px 0px 10px rgb(85, 85, 85);
    transition: .5s;
}

.figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: chartreuse;
    border: 1px solid rgb(172, 172, 172)
}

.figcaption {
    width: 200px;
    background-color: rgb(238, 228, 228);
    Word-wrap: break-Word;
}

.figcaption .fig-title {
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
}

.figcaption p {
    padding: 0 1rem 1rem 1rem;
    text-align: justify;
}