.sobre-content {
    padding-top: 10rem;
    width: 80%;
    height: 100vh;
    background-color: rgba(247, 247, 247, 0.377);
    margin: 0 auto;
    border: 1px ;
}

.conteudo-sobre {
    padding: 3rem;
    text-align: justify;
    color: rgb(32, 32, 32);
}

.conteudo-sobre h1 {
   margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}